html,
body {
  height: 100%;
  margin: 0;
}

.frame {
  background: #1A2238;
  height: 100%;
}

.moon {
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #F6EDBD;
  border-radius: 50%;
  top: 80px;
  left: 171px;
  box-shadow: 0 0 10px 0 #F6EDBD;
  animation: rise 2s ease-in-out;
}
.moon .crater-1, .moon .crater-7, .moon .crater-11, .moon .crater-10, .moon .crater-9, .moon .crater-8, .moon .crater-4, .moon .crater-6, .moon .crater-5, .moon .crater-3, .moon .crater-2 {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #ECE1A8;
  border-radius: 50%;
  top: 12px;
  left: 12px;
}
.moon .crater-2 {
  top: 16px;
  left: 50px;
}
.moon .crater-3 {
  top: 60px;
  left: 10px;
}
.moon .crater-4, .moon .crater-6, .moon .crater-5 {
  width: 10px;
  height: 10px;
  top: 41px;
  left: 35px;
}
.moon .crater-5 {
  left: 72px;
  top: 46px;
}
.moon .crater-6 {
  top: 78px;
  left: 42px;
}
.moon .crater-7, .moon .crater-11, .moon .crater-10, .moon .crater-9, .moon .crater-8 {
  width: 7px;
  height: 7px;
  top: 42px;
  left: 10px;
}
.moon .crater-8 {
  top: 63px;
  left: 49px;
}
.moon .crater-9 {
  top: 39px;
  left: 59px;
}
.moon .crater-10 {
  top: 11px;
  left: 37px;
}
.moon .crater-11 {
  top: 28px;
  left: 25px;
}
@keyframes rise {
  from {
    transform: translate(-50px, 300px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.mountain, .mountain-3, .mountain-5, .mountain-4, .mountain-2, .mountain-1 {
  width: 40%;
  height: 60%;
  background-color: #26314F;
  position: absolute;
  bottom: 0;
}

.mountain-1 {
  -webkit-clip-path: polygon(50% 0%, 72% 31%, 88% 59%, 97% 100%, 78% 100%, 50% 100%, 0 100%, 27% 81%, 38% 32%, 44% 18%);
          clip-path: polygon(50% 0%, 72% 31%, 88% 59%, 97% 100%, 78% 100%, 50% 100%, 0 100%, 27% 81%, 38% 32%, 44% 18%);
  left: 0;
}

.mountain-2 {
  width: 60%;
  right: 0;
  -webkit-clip-path: polygon(64% 0, 78% 25%, 88% 59%, 97% 100%, 78% 100%, 50% 100%, 0 100%, 26% 69%, 39% 40%, 56% 24%);
          clip-path: polygon(64% 0, 78% 25%, 88% 59%, 97% 100%, 78% 100%, 50% 100%, 0 100%, 26% 69%, 39% 40%, 56% 24%);
}

.mountain-3, .mountain-5, .mountain-4 {
  height: 50%;
  width: 30%;
  background-color: #303C5D;
  -webkit-clip-path: polygon(57% 33%, 77% 44%, 99% 78%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 0 55%, 25% 34%);
          clip-path: polygon(57% 33%, 77% 44%, 99% 78%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 0 55%, 25% 34%);
}

.mountain-4 {
  width: 60%;
  -webkit-clip-path: polygon(50% 0%, 77% 41%, 96% 62%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 13% 54%, 39% 34%);
          clip-path: polygon(50% 0%, 77% 41%, 96% 62%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 13% 54%, 39% 34%);
  left: 200px;
  background-color: #303C5D;
}

.mountain-5 {
  background-color: #303C5D;
  right: 0;
  -webkit-clip-path: polygon(70% 37%, 86% 41%, 100% 64%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 11% 61%, 45% 54%);
          clip-path: polygon(70% 37%, 86% 41%, 100% 64%, 99% 100%, 81% 100%, 50% 100%, 19% 100%, 0 100%, 11% 61%, 45% 54%);
}

.drop-big-1 {
  position: absolute;
  z-index: 20;
  left: 18px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.9s linear 1.44s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-1:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-1:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-2 {
  position: absolute;
  z-index: 20;
  left: 56px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.9s linear 1.24s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-2:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-2:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-3 {
  position: absolute;
  z-index: 20;
  left: 94px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.8s linear 0.76s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-3:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-3:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-4 {
  position: absolute;
  z-index: 20;
  left: 132px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.9s linear 1.52s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-4:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-4:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-5 {
  position: absolute;
  z-index: 20;
  left: 170px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.8s linear 0.68s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-5:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-5:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-6 {
  position: absolute;
  z-index: 20;
  left: 208px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.8s linear 0.08s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-6:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-6:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-7 {
  position: absolute;
  z-index: 20;
  left: 246px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.9s linear 2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-7:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-7:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-8 {
  position: absolute;
  z-index: 20;
  left: 284px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.8s linear 1.64s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-8:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-8:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-9 {
  position: absolute;
  z-index: 20;
  left: 322px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.8s linear 0.52s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-9:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-9:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

.drop-big-10 {
  position: absolute;
  z-index: 20;
  left: 360px;
  bottom: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7FC1F9;
  animation: drop 0.9s linear 0.6s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}
.drop-big-10:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7FC1F9;
  border-radius: 3px;
}
.drop-big-10:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7FC1F9;
  border-radius: 50%;
}

@keyframes drop {
  0% {
    transform: translate3d(40px, -700px, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  85% {
    transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */